.notification {
  color: grey;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.notification.good {
  color: green;
}

.notification.bad {
  color: red;
}

.blog {
  color: grey;
  font-size: 15px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
  padding: 5px
}

.navbar a {
  margin-right: 10px; /* Adjust the margin between links */
}

.navbar .user-info {
  margin-left: auto; /* Push user info and logout button to the right */
  display: flex;
  align-items: center;
}

.navbar button {
  margin-left: 10px; /* Adjust the margin between user info and logout button */
}

.navbar link {
  padding: 10
}


